<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @group.schedule %>
</p>

<p>
  <%= form_with model: @group, :url=>group_update_licenses_path(@group), :method => :patch  do |form| %>
    <%= form.select :actions, [["Put Licenses", :put], ["Remove Licenses", :remove]], {}%>
    <%= form.submit 'Update', class:"btn btn-success" %>
  <% end %>
  <%# link_to 'Update Licenses', group_update_licenses_path(@group), method: :patch %>
   
</p>

<%= link_to 'Edit', edit_group_path(@group)  %> 
<%= link_to 'Back', groups_path %>
